{% extends "base.html" %}
{% load static %}
{% block 'title' %}Login{% endblock 'title' %}
{% block 'content' %}
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <h1>Enter your new password</h1>
                <p class="mb-0">Insert your new password and confirm it</p>
              </div>
              <p></p>
              <form method="post">
                {% csrf_token %}
                <p><input type="password" name="pass1" placeholder="New Password" required="required"></p>
                <p><input type="password" name="pass2" placeholder="Confirm Password" required="required"></p>
                <p><button type="submit">Reset Password</button></p>
            </form>
            {% for message in messages %}
            <p> <h2 style="color:red;">{{ message }}</h2> </p>
            {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- End Page Title -->
{% endblock 'content' %}