{% extends "base.html" %}
{% load static %}
{% block 'title' %}agent{% endblock 'title' %}
{% block 'content' %}



  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Agents</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Agents</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Agents Section -->
    <section id="agents" class="agents section">

      <div class="container">

        <div class="row gy-5">
          {% for agent in agents %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src={{agent.image.url}} class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{agent.user.username}}</h4>
                <span>{{agent.ability.name}}</span>
                <div class="social">
                  <a href={{agent.twitter}}><i class="bi bi-twitter-x"></i></a>
                  <a href={{agent.facebook}}><i class="bi bi-facebook"></i></a>
                  <a href={{agent.instagram}}><i class="bi bi-instagram"></i></a>
                  <a href={{agent.linkedin}}><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}

        </div>

      </div>

    </section><!-- /Agents Section -->

  </main>

  {% endblock 'content' %}
