 {% extends "base.html" %}
 {% load static %}
 {% block 'title' %}propert-detail{% endblock 'title' %}
 {% block 'content' %}
 <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Property Single</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Property Single</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Real Estate 2 Section -->
    <section id="real-estate-2" class="real-estate-2 section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src={{property.image1.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{property.image2.url}} alt="">
            </div>

            <div class="swiper-slide">
              <img src={{property.image3.url}} alt="">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">

            <div class="portfolio-description">
              <h2>{{property.title}}</h2>
              <p>
                {{property.content}}
              </p>
              <div class="testimonial-item">
                <p>
                  <span>{{property.agent.ability}}</span>
                </p>
                <div>
                  <img src={{property.agent.image.url}} class="testimonial-img" alt="">
                  <h3>{{property.agent.user.username}}</h3>
                  <h4>Agent</h4>
                </div>
              </div>
            </div><!-- End Portfolio Description -->

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#real-estate-2-tab1">Video</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab2">Floor Plans</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#real-estate-2-tab3">Location</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="real-estate-2-tab1">
                {{ property.video|safe }}
              </div><!-- End Tab 1 Content -->
                
              <div class="tab-pane fade" id="real-estate-2-tab2">
                <img src={{property.floor.url}} alt="" class="img-fluid">
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade" id="real-estate-2-tab3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d554.8699241859667!2d49.6937941883395!3d34.09031674255422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fecbf9d045dbe05%3A0xd10d9a0b5097d481!2z2KLZhdmI2LLYtNqv2KfZhyDYp9mI2LHZhtqv!5e0!3m2!1sfa!2s!4v1732770332739!5m2!1sfa!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div><!-- End Tab 3 Content -->

            </div><!-- End Tab Content -->

          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Quick Summary</h3>
              <ul>
                <li><strong>Property ID:</strong> {{property.property_id}}</li>
                <li><strong>Location:</strong> {{property.location}}</li>
                <li><strong>Property Type:</strong> {{property.type.title}}</li>
                <li><strong>Status:</strong> {{property.method.title}}</li>
                <li><strong>Area:</strong> <span>{{property.area}} <sup>2</sup></span></li>
                <li><strong>Beds:</strong> {{property.beds}}</li>
                <li><strong>Baths:</strong> {{property.baths}}</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Real Estate 2 Section -->

  </main>
  {% endblock 'content' %}
