
{% extends "base.html" %}
{% load static %}
{% block 'title' %}services{% endblock 'title' %}
{% block 'content' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->
    <!-- Search Form -->
     

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">
        <form>
          <input type="text" name="search" class="form-control" placeholder="Search">
          <button type="submit">search</button>
         </form>

        <div class="row gy-4">
          {% for service in services %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href={% url 'services:services-detail' id=service.id %} class="stretched-link">
                <h3>{{service.title}}</h3>
              </a>
              <p>{{service.truncate_chars}}</p>
            </div>
            <p><a href={% url 'services:service-with-creator' name=service.creator.user.username %}>{{service.creator.user.username}}</a></p>
          </div><!-- End Service Item -->
          {% endfor %}

        </div>
      

    </section><!-- /Services Section -->
  </div>
  <div class="center-block">
    {% if services.has_next and services.has_previous %}
  <a href={% url 'services:services' %}?page={{first}}><button>first page<<</button>
  <a href={% url 'services:services' %}?page={{services.previous_page_number}}>><button>prev page<</button>
  <a href={% url 'services:services' %}?page={{services.next_page_number}}>><button>next page></button>
  <a href={% url 'services:services' %}?page={{last}}>><button>last page>></button>
    {% elif services.has_next %}
    <a href={% url 'services:services' %}?page={{services.next_page_number}}><button>next page></button>
    <a href={% url 'services:services' %}?page={{last}}><button>last page>></button>
  {% elif services.has_previous %}
    <a href={% url 'services:services' %}?page={{first}}><button>first page<<</button>
    <a href={% url 'services:services' %}?page={{services.previous_page_number}}  ><button>prev page<</button>
  {% endif %}
  </div>

  </main>

  {% endblock 'content' %}

